 body {
    background-image: url("fridge.jpeg"); /* Light gray background */
    background-size:cover;
     background-repeat: no-repeat;
  background-attachment:scroll;
 
 }

#eggs {position: relative; top: 15.2cm; left: 4cm;}

#milk {
   position:absolute;
   top: 19.5cm;
}

#apple {
   position: absolute;
   top: 5cm;
   left: 6cm;
}
 
#cabbage {
   position: absolute;
   top: 2.4cm;
   left: 10.75cm;

}
#broccoli {
   position: absolute;
   top: 3.5cm;
   left: 16.5cm;
}
#cheese {
   position: absolute;
   top: 14.4cm;
   left: 19cm;
}
