.circle {
    width: 200px;
    height:200px;
    background-color: aquamarine;
    transition: .3s;
    border-radius: 50%;
}

.star {
  width: 200px;  
  aspect-ratio: 1;
  background: #F8CA00;
  transition: clip-path .3s;
  clip-path: polygon(50% 0,79% 90%,2% 35%,98% 35%,21% 90%); 
}

.square {
 width: 200px;
 height: 200px;
 background-color: greenyellow;
 transition: all .3s;
 border-radius: 10%;
}
@keyframes myanimation {

}

div {
  width: 200px;
  height: 200px;
  background-color: black;
  animation-name: myanimation;
  animation-duration: 5s;
}
